<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Try CLook | MOOC Look Up</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{ url_for('static',filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{{ url_for('static',filename='vendor/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="{{ url_for('static',filename='vendor/magnific-popup/magnific-popup.css') }}" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="{{ url_for('static',filename='css/creative.min.css') }}" rel="stylesheet">

</head>

<body id="page-top">
<!--Nav Bar Begin-->
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="http://127.0.0.1:5000/">CLook | Look Up the Best MOOC</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="http://127.0.0.1:5000/">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="http://127.0.0.1:5000/">Courses</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="http://127.0.0.1:5000/">Universities</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="http://127.0.0.1:5000/">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
<!--Nav Bar End-->
<!--Enter domain preference section begin-->
    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Enter your course preference</h2>
                    <hr class="light">
                    <!--Enter domain preference section end-->
                    <div class="navbar navbar-inverse navbar-static-top" role="navigation">
                    <!--Search and Filter Bar Begin-->
                        <div class="container">
                            <div class="col-md-8">
                                <form class="navbar-form" role="search">
                                    <div class="input-group add-on">
                                    <input class="form-control" placeholder="Physics, Management etc." name="srch-term" id="srch-term" type="text">
                                        <div class="input-group-btn">
                                            <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    <!--Search and Filter Bar End-->
                </div>
    
            </div>
        </div>
            </div>
        </div>
    </section>
    <aside class="bg-dark">
        <div class="container text-center">
            <div class="call-to-action">
                <h2>Search Results</h2>
                <!--Search Results Table (Still Hardcoded)-->
                <table class="table table-inverse">
                <thead>
                <tr>
                    <th>Site</th>
                    <th>Course Name</th>
                    <th>Description</th>
                    <th>Start Date</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">Coursera</th>
                    <td>Functional Programming Principles in ScalaMark</td>
                    <td>In this course you will discover the elements of the functional programming style and learn how to apply them usefully in your daily programming tasks. You will also develop a solid foundation for reasoning about functional programs, by touching upon proofs of invariants and the tracing of execution symbolically.</td>
                    <td>23/10/16 08:00:00</td>
                </tr>
                <tr>
                <th scope="row">Coursera</th>
                    <td>Python Data Structures</td>
                    <td>This course will introduce the core data structures of the Python programming language. We will move past the basics of procedural programming and explore how we can use the Python built-in data structures such as lists, dictionaries, and tuples to perform increasingly complex data analysis.</td>
                    <td>21/10/2016 12:30:00</td>
                </tr>
                <tr>
                <th scope="row">Coursera</th>
                    <td>Machine Learning</td>
                    <td>Machine learning is the science of getting computers to act without being explicitly programmed. In the past decade, machine learning has given us self-driving cars, practical speech recognition, effective web search, and a vastly improved understanding of the human genome. Machine learning is so pervasive today that you probably use it dozens of times a day without knowing it.</td>
                    <td>31/10/2016 10:00:00</td>
                </tr>
                </tbody>
                </table>
<!--End Search Results Table-->
            </div>
        </div>
    </aside>

    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Let's Get In Touch!</h2>
                    <hr class="primary">
                    <p>CLook is developed by two third year undergraduates at NSIT University of Delhi. Namrata Mukhija is pursuing B.E. in Information Technology and Ipshita Chatterjee is pursuing B.E. in Computer Engineering. Feel free to collaborate with us on this project. Fork on Github or send us a pull request. If you want to connect with us, reach out to us through LinkedIn and we'll get back to you as soon as possible!</p>
                </div>
                <div class="col-lg-4 col-lg-offset-2 text-center">
                    <i class="fa fa-github-square fa-3x sr-contact"></i>
                    <p><a href="https://github.com/IpshitaC">Ipshita Chatterjee</a></p>
                    <p><a href="https://github.com/IpshitaC">Namrata Mukhija</a></p>
                    
                </div>
                <div class="col-lg-4 text-center">
                    <i class="fa fa-linkedin fa-3x sr-contact"></i>
                    <p><a href="https://in.linkedin.com/in/ipshitachatterjee">Ipshita Chatterjee</a></p>
                    <p><a href="https://www.linkedin.com/in/namrata-mukhija-818b09112">Namrata Mukhija</a></p>
                </div>
            </div>
        </div>
    </section>

    <!-- jQuery -->
    <script src="{{ url_for('static',filename='vendor/jquery/jquery.min.js') }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ url_for('static',filename='vendor/bootstrap/js/bootstrap.min.js') }}"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="{{ url_for('static',filename='vendor/scrollreveal/scrollreveal.min.js') }}"></script>
    <script src="{{ url_for('static',filename='vendor/magnific-popup/jquery.magnific-popup.min.js') }}"></script>

    <!-- Theme JavaScript -->
    <script src="static/js/creative.min.js"></script>

</body>

</html>
